* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: url("./Godro-34.jpg");
  background-size: cover;
  position: center center;
  min-height: 100vh;
  font-family: "Montserrat", Arial, Helvetica, sans-serif;
  color: #ffffff;
}

.bgImage {
  background-color: black;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  opacity: 0.7;
}

.countdown-container {
  display: flex;
}

h1 {
  font-size: 3rem;
  font-weight: normal;
  margin-top: 5rem;
  text-align: center;
}

.bigText {
  font-size: 6rem;
  line-height: 1;
  margin: 2rem;
  font-weight: bold;
}

.spanTarget {
  text-align: center;
}

.spanTarget span {
  font-size: 1.3rem;
}
